
{% extends "base.html" %}
{% load static %}
{% block content %}
<script src="{% static 'js/book.js' %}"></script>

<div class="container py-5">

<h1>{{ book.title }}</h1>
<p>{{ book.author }}</p>

<h4>⭐ Avg: <span id="avgRating">{{ avg_rating|floatformat:1 }}</span></h4>

<div>
    {% for i in "12345" %}
    <span style="cursor:pointer;font-size:24px" onclick="submitRating({{book.id}}, {{forloop.counter}})">★</span>
    {% endfor %}
</div>

<hr>

<textarea id="commentInput" class="form-control"></textarea>
<button onclick="submitComment({{book.id}})" class="btn btn-success mt-2">Comment</button>

<div id="commentList" class="mt-3">
{% for c in comments %}
<div class="border p-2 mb-2">{{ c.text }}</div>
{% endfor %}
</div>

<hr>

<h5>Similar Books</h5>
<div class="row">
{% for b in similar_books %}
<div class="col-md-3">
    <div class="card p-2">
        <a href="{% url 'book_detail' b.id %}">{{ b.title }}</a>
    </div>
</div>
{% endfor %}
</div>

</div>
{% endblock %}
